

/* main text color #757575 */
/* second text color #212121 */
/* logo first part #2196F3 */
/* logo second part hdr #000000 */
/* logo second part ftr #FFFFFF*/
/* main background #E5E5E5 */
/* second background #F5F4FA */
/* ftr background #2F303A */


:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
}

body {
    background-color:#E5E5E5;
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}

.fst-part-logo {
    color:#2196F3
}

.sd-part-logo-hdr {
    color:#000000 
}

.logo-font {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.site-nav a {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus
.site-nav a:active {
    color: #2196F3;
}

.contacts a {
    color: var(--main-text-color);
    font-weight: 500;
    ont-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em
}

.contacts a:hover,
.contacts a:focus
.contacts a:active {
    color: #2196F3;
}

.hero-header {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
        /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
   background-color: #2196F3
}

.hero-btn-words {
    color: #FFFFFF
}


.spec {
    display:none;
}

.spec-title {
    color: var(--second-text-color)
}

.spec-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.spec-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.projects-title {
    color: var(--second-text-color)
}

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team {
    color: var(--second-text-color)
}

.team {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
}

.team-name {
    color: var(--second-text-color)
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18x;
}

.team-pos {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

.ftr {
    background-color:#2F303A;
}

.sd-part-logo-ftr {
    color: #FFFFFF
}

.address {
    color: #FFFFFF;
}

.address {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

.address-ftr a {
    color: rgba(255, 255, 255, 0.6)

}

.portfolio-title {
    display:none;
}

.portfolio-filter button {
    color: var(--main-text-color)
}


.portfolio-filter button:hover,
.portfolio-filter button:focus {
    background-color: #2196F3
}

.portfolio-filter span:hover,
.portfolio-filter span:focus {
    color: #FFFFFF
}
}
.portfolio-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.portfolio-list {
    display:none;
}

.card-name {
    color: var(--second-text-color)
}

.card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.card-disc {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
}

