

/* main text color rgba(117, 117, 117, 1) */
/* second text color rgba(33, 33, 33, 1) */
/* logo first part and btn rgba(33, 150, 243, 1)*/
/* btn hover color  rgba(24, 140, 232, 1) */
/* logo second part hdr rgba(0, 0, 0, 1)*/
/* logo second part ftr rgba(255, 255, 255, 1)*/
/* main background rgba(255, 255, 255, 1) */
/* second background rgba(245, 244, 250, 1) */
/* ftr and hero background rgba(47, 48, 58, 1) */

:root {
    --main-text-color: rgba(117, 117, 117, 1);
    --second-text-color: rgba(33, 33, 33, 1);
    --main-background-color: rgba(255, 255, 255, 1);
    --second-background: rgba(245, 244, 250, 1);
    --logo-first-part-and-btn: rgba(33, 150, 243, 1);
    --portfolio-card-background: rgba(238, 238, 238, 1);
}


body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: Roboto, Raleway, sans-serif;
}

.list {
    list-style: none;

}

.fst-part-logo {
    color:#2196F3
}

.sd-part-logo-hdr {
    color:#000000 
}

.logo-font a {
    text-decoration-line: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}


.site-nav .current {
    color: #2196F3;
}

.site-nav a {
    text-decoration-line: none;
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus
{
    color: #2196F3;
}


.contacts a {
    text-decoration-line: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em
}

.contacts a:hover,
.contacts a:focus {
    color: #2196F3;
}


.hero {
    background-color:rgba(47, 48, 58, 1);;
}
.hero-header {
    color:rgba(255, 255, 255, 1);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
        /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
   background-color: rgba(33, 150, 243, 1)
}

.hero-btn:hover {
    background-color:rgba(24, 140, 232, 1) ;
}

.hero-btn-words {
    color: var(--main-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}


.spec {
    display:none;
}

.spec-title {
    color: var(--second-text-color);
}

.spec-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.spec-text {
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.projects-title {
    color: var(--second-text-color);
}

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.teamlist {
    background-color: var(--second-background);
}
.team {
    color: var(--second-text-color);
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.team-name {
    color: var(--second-text-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-pos {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

.card {
    background-color: #FFFFFF;
    width: 270px;
}

.ftr {
    background-color:#2F303A;
}

.sd-part-logo-ftr {
    color: #FFFFFF;
}

.address {
    color: #FFFFFF;
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style:normal;
}

.address-ftr a {
    color: rgba(255, 255, 255, 0.6)

}

.portfolio-title {
    display:none;
}

.portfolio-filter button {
    background-color: var(--second-background);
    color: var(--main-text-color);
}


.portfolio-filter button:hover,
.portfolio-filter button:focus {
    background-color: var(--logo-first-part-and-btn);
    color: var(--main-background-color);
}


button {
    cursor: pointer;
}

.portfolio-filter button {
color: var(--second-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
}

.portfolio-list {
    display:none;
}

.card-name {
    color: var(--second-text-color)
}

.card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.card-disc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

.portfolio-card {
    background-color: var(--main-background-color);
    width: 370px;
    height: 404px;
}

.portfolio-card a {
    text-decoration-line: none;
    color: var(--main-text-color);
}

.address-ftr a {
    text-decoration-line: none;
}